<div *ngIf="users$" class="row">
  <div class="col-12 mt-2">
    <button type="submit" [routerLink]="['user/' + 0]" class="btn btn-primary btn-block mt-5">
      <i class="fa fa-plus"></i>
    </button>
    <h2>User List</h2>
    <label for="search" class="mx-2">Szűrés: </label>
    <input id="search" 
          (keyup)="onChangePhrase($event)" 
          class="form-control mr-sm-2"
          type="text"
          placeholder="kifejezés" 
          [value]="phrase">
    <table class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let column of columns"
              (click)="onHeaderClick(column.name)"
            >{{column.title}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async | filter:phrase:'name' |sorter:currentCol:'up'">
          <td *ngFor="let coulmn of columns"> <span > {{ user[coulmn.name]}}</span> </td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger" (click) = "onDelete(user)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
